# test | development | production 
NODE_ENV=development

HOST=localhost

SERVER_PORT=4000
CLIENT_PORT=3000

# nodemailer
EMAIL_HOST=gmail
EMAIL_USER=
EMAIL_EMAIL=
EMAIL_PASSWORD=

# redis
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_PASSWORD=
# 1 Day 60 * 60 * 24 - Email token
REDIS_TOKEN_EXPIRATION=86400
# 20 Minutes 60 * 20 - Forgot Password Email token
REDIS_FORGOT_PASSWORD_EXPIRATION=1200

# prisma
# DATABASE_URL in ./prisma/.env

SALT_ROUNDS=10
# generate session secret with: 'yarn session-secret' 
SESSION_SECRET=
# 1 Day 60 * 60 * 24 - Acces token
TOKEN_EXPIRESIN=86400